.Rproj.user
.Rhistory
.RData
.Ruserdata
AKInconnu_GP_Ind_Final.txt
AKInconnu_GP_Pop_Final.txt
AKInconnu_GP_Pop_Final.txt.DIV
AKInconnu_GP_Pop_Final.txt.GE
AKInconnu_GP_Pop_Final.txt.INF
AKInconnu_GP_Pop_Final.txt.MIG
AKInconnu_GP_Pop_Final.txt.RHO
AKInconnu_GP_Pop_Final.txt.ST2
AKInconnu_GP_Pop_HW.txt
AKInconnu_GP_Pop_Out.txt
AKSheefishPosterHeatMapFst.tiff
Fig7_Brown_etal.tiff
FigS1_TNWRRBTPaper.tiff
FigS2_TNWRRBTPaper.tiff
KodiakGPFraser.txt
TableS1_AlaskaInconnu.txt
myUnique.csv
sample.txt
test_Out.txt
cmdline.txt
fichier.in
